@font-face {
  font-family: "Commissioner-Black";
  src: url("Commissioner/Commissioner-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner-Bold";
  src: url("Commissioner/Commissioner-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner-ExtraBold";
  src: url("Commissioner/Commissioner-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner-ExtraLight";
  src: url("Commissioner/Commissioner-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner-Light";
  src: url("Commissioner/Commissioner-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner-Medium";
  src: url("Commissioner/Commissioner-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner-Regular";
  src: url("Commissioner/Commissioner-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner-SemiBold";
  src: url("Commissioner/Commissioner-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner-Thin";
  src: url("Commissioner/Commissioner-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
